  @keyframes my-keyframe {
    0% {background-color: green;}
    40% {background-color: rgb(30, 129, 30);}
    70% {background-color: rgb(63, 133, 63);}
    100% {background-color: rgb(84, 119, 84);}
}

#animation {
    width: 10000px;
    height: 1000px;
    background-color: green;
    animation-name: my-keyframe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
