  @keyframes my-keyframe {
    0% {background-color: red;}
    40% {background-color: rgb(190, 53, 53);}
    70% {background-color: green;}
    100% {background-color: rgb(43, 128, 43);}
}

#animation {
    width: 10000px;
    height: 1000px;
    background-color: red;
    animation-name: my-keyframe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
