@keyframes my-keyframe {
    0% {background-color: rgb(255, 230, 0);}
    25% {background-color: rgb(255, 235, 55);}
    50% {background-color: rgb(255, 239, 92);}
    100% {background-color: rgb(255, 243, 137);}
}

#animation {
    width: 10000px;
    height: 1000px;
    background-color:rgb(255, 230, 0);
    animation-name: my-keyframe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
